#include "resource.h"

IDI_APP_ICON ICON "app.ico"

1 VERSIONINFO
 FILEVERSION 1,0,1,0
 PRODUCTVERSION 1,0,1,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "ClipNest"
            VALUE "FileDescription", "ClipNest"
            VALUE "FileVersion", "1.0.1"
            VALUE "InternalName", "ClipNest"
            VALUE "OriginalFilename", "ClipNest.exe"
            VALUE "ProductName", "ClipNest"
            VALUE "ProductVersion", "1.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
